.hero {
  background-image: url("/assets/graphic.svg");
  background-repeat: no-repeat;
  background-size: 96%;
  background-position: 216px -8px;
  padding-top: 80px;
  padding-bottom: 82px;
}

.hero-content {
  width: 75%;
}

.hero__text {
  padding-bottom: 5px;
}


@media screen and (min-width: 500px) {
  .hero {
    background-size: contain;
    background-position: 280px 0;
  }
  .hero-content {
    width: 60%;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    background-position: 450px 0;
  }
  .hero-content {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background-size: 53%;
    background-position: 640px 90px;
    padding-bottom: 180px;
    padding-top: 200px;
  }
  .hero-content {
    width: 43%;
  }
}
