.hero {
  background-image: url("/assets/graphic.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-size: 95%; */
  background-position: 206px 0;
  padding-bottom: 80px;
}

.hero-content {
  width: 75%;
}

.hero__subtitle {
  padding-top: 80px;
}

.hero__title {
}

.hero__text {
}

.hero__button {
}

@media screen and (min-width: 1024px) {
  .hero {
    background-size: 53%;
    /* background-position: top right; */
    /* background-position: 100% 8%; */
    background-position: 670px 90px;
    padding-bottom: 200px;
  }
  .hero-content {
    width: 50%;
  }
  .hero__subtitle {
    padding-top: 200px;
  }
}
