.upsell {
  background-image: url("/assets/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 64px
}

.upsell-content {
  padding: 122px 32px 2px 32px;
}

.upsell__text {
  color: var(--dark1);
}


@media screen and (min-width: 1024px) {
  .upsell {
    margin-bottom: 106px
  }
  
  .upsell-container {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .upsell {
    background-size: initial;
  }

  .upsell__title {
    padding-top: 34px;
    padding-bottom: 0.5rem;
  }

  .upsell-content {
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 28px;
  }
}
