body {
  background-color: var(--light1);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: rgb(195, 214, 195); /* test */
  color: var(--dark2);
}

p {
  line-height: 1.5;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1440px;
  }
}
