:root {
  /* Colors */
  --dark1: #111111;
  --dark2: #555555;
  --dark3: #777777;
  --dark4: #999999;
  --light1: #ffffff;
  --light2: #eeeeee;
  --light3: #cccccc;
  --accent1: #ff8139;
  --accent2: #ff3998;
  --accent3: #39ffa0;
  --accent4: #ff3939;
  --accent5: #fff0e8;
}
