:root {

/* Colors */

--dark1: #111111;
--dark2: #555555;
--dark3: #777777;
--dark4: #999999;
--light1: #FFFFFF;
--light2: #EEEEEE;
--light3: #CCCCCC;
--orange: #FF8139;
--pink: #FF3998;
--red: #FF3939;
--light-orange: #FFF0E8;

}