:root {
  /* Colors */
  --dark1: #111111;
  --dark2: #555555;
  --dark3: #777777;
  --dark4: #999999;
  --light1: #FF8F9FF;
  --light2: #eeeeee;
  --light3: #cccccc;
  --orange: #ff8139;
  --pink: #ff3998;
  --red: #ff3939;
  --light-orange: #fff0e8;
}
