.footer-upsell {
  background-image: url("/assets/upsell-footer-image.svg");
  background-repeat: no-repeat;
  background-size: 46%;
  background-position: 104% bottom;
  padding-bottom: 70px;
  /* border-bottom: 1px solid var(--light2); */
}

.footer-upsell__text-hidden {
  display: none;
}

.footer-upsell-content {
  width: 54%;
}

.footer-upsell__text {
  padding-bottom: 5px;
}


@media screen and (min-width: 500px) {
  .footer-upsell {
    background-size: contain;
    background-position: right bottom;
  }
}

@media screen and (min-width: 1024px) {
  .footer-upsell {
    background-size: 14%;
    background-position: 75% bottom;
    padding-top: 54px;
    padding-bottom: 124px;
  }
  .footer-upsell-content {
    width: 44%;
  }
  .footer-upsell__text-hidden {
    display: initial;
  }
}
